page-welcome {
    #welcome{
        background: color($colors, energy);
        
    }
    h1{
        font-size: 52px;
        margin-top: 50px;
    }
    .marginTop{
        margin-top:150px;
    }
    .logo{
        height: 100px;
        
    }
    #centro {
        //width:100px;
        //height:100px;
        position:relative;
        top:50%;
        left:30%;
    }
    
}
